<div id="<%= dom_id evaluation %>">
  <p>
    <strong>Evaluatee:</strong>
    <%= evaluation.evaluatee_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= evaluation.category_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= evaluation.score %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= evaluation.comments %>
  </p>

  <p>
    <strong>Encrypted data:</strong>
    <%= evaluation.encrypted_data %>
  </p>

  <p>
    <strong>Zk proof:</strong>
    <%= evaluation.zk_proof %>
  </p>

  <p>
    <strong>Blockchain tx:</strong>
    <%= evaluation.blockchain_tx_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= evaluation.organization_id %>
  </p>

</div>
