<h1>New Evaluation</h1>

<% if @evaluation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with url: category_evaluations_path(@organization.name, @category.id), method: :post, data: { turbo: false } do |form| %>
  <div>
    <%= form.label :user_id, "Evaluatee" %>
    <%= form.collection_select :evaluatee_id, @users, :id, :name, prompt: "Select a user" %>
  </div>

  <div>
    <%= form.label :score %>
    <%= form.number_field :score, min: 1, max: 5 %>
  </div>

  <div>
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>

  <!-- 擬似的なZK証明を送信 -->
  <%= hidden_field_tag :zk_proof, "valid_proof" %>

  <div>
    <%= form.submit "Submit Evaluation" %>
  </div>
<% end %>

