<div id="<%= dom_id blockchain_record %>">
  <p>
    <strong>Evaluation:</strong>
    <%= blockchain_record.evaluation_id %>
  </p>

  <p>
    <strong>Tx:</strong>
    <%= blockchain_record.tx_id %>
  </p>

  <p>
    <strong>Block number:</strong>
    <%= blockchain_record.block_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= blockchain_record.status %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= blockchain_record.organization_id %>
  </p>

</div>
